<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" type="text/css" href="crud.css"> -->
    <!--<link rel="stylesheet" type="text/css" href="foodd.css"> -->
    <link rel="stylesheet" href="../static/css/output.css">
    <title>recommended for you</title>
</head>
<body>
    <form method="GET"></form>
    <h1>Suggested comfort food: {{foods[0]}}</h1>
    <img src="../static/css/images/{{foods[0]}}.jpg" alt="Image">
    <h2>Alternate foods: {{foods[1]}} or {{foods[2]}}</h2>

</body>
</html>