<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> 
    
        <link rel="stylesheet" href="./static/css/h_style.css">


</head>

<body>

    <h1>Welcome to Food Therapy!</h1>
    <p class='l1'>Food is certainly the Panacea!</p>
    <p class='l2'> Suggest your temperment and we'll suggest you a snack...</p>
    <a class="btn btn-success" href="/lament" role="button">Try it now...!!!</a>

</body>

</html>